[submodule "Libs/GGUI"]
	path = Libs/GGUI
	url = https://github.com/derfloh205/GGUI.git
[submodule "Libs/GUTIL"]
	path = Libs/GUTIL
	url = https://github.com/derfloh205/GUTIL.git
[submodule "DevTools/DataMining/SpecializationData/wow-profession-tree"]
	path = DevTools/DataMining/SpecializationData/wow-profession-tree
	url = https://github.com/mr120/wow-profession-tree
